n8n-workflow/workflow.json
{
  "name": "Vivatori Support Co-Pilot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vivatori-support-webhook",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json.sentiment || ($json.body && $json.body.sentiment) || '').toLowerCase() }}",
              "operation": "equals",
              "value2": "negativo"
            }
          ]
        }
      },
      "name": "If Sentiment Negative",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from || ($json.body && $json.body.email_from) || 'qa@vivatori.local' }}",
        "toEmail": "={{ $json.email_to || ($json.body && $json.body.email_to) || 'qa-team@vivatori.local' }}",
        "subject": "={{ $json.email_subject || ($json.body && $json.body.email_subject) || 'Nuevo ticket negativo' }}",
        "text": "={{ 'Se detectó un ticket con sentimiento negativo.\\n\\n' +\n  'Ticket ID: ' + ($json.id || ($json.body && $json.body.id) || 'N/A') + '\\n' +\n  'Descripción: ' + ($json.description || ($json.body && $json.body.description) || 'N/A') + '\\n' +\n  'Categoría: ' + ($json.category || ($json.body && $json.body.category) || 'N/A') + '\\n' +\n  'Sentimiento: ' + ($json.sentiment || ($json.body && $json.body.sentiment) || 'N/A') + '\\n\\n' +\n  'Revisar el dashboard para más detalles.' }}"
      },
      "name": "Send Email (Simulado)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [760, 220]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "If Sentiment Negative", "type": "main", "index": 0}]]
    },
    "If Sentiment Negative": {
      "main": [[{"node": "Send Email (Simulado)", "type": "main", "index": 0}]]
    }
  },
  "active": false
}
